<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.3/css/pico.min.css"
/>

<header class="container">
  <div class="title">
    <hgroup>
      <h3>{{title}}</h3>
    </hgroup>
  </div>
  <div class="login-button"><!-- Here could be a button to get to the login page --></div>

<nav class="container">
  <ul>
    <li><a [routerLink]="['']" routerLinkActive="secondary" [routerLinkActiveOptions]="{exact: true}" >Home</a></li>
    <li><a [routerLink]="['/manageTechnologies']" routerLinkActive="secondary" [routerLinkActiveOptions]="{exact: true}">Manage-Technologies</a></li>
  </ul>
</nav>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>



