<section class="technologyDetail">
@if (technology) {
  <div>
    <hgroup>
      <h4>Edit Technology </h4>
      <label for="name">Technology {{ technology.name }} </label>
    </hgroup>

    <div>
      <input id="name" [(ngModel)]="technology.name" placeholder="technology name" />
      <input id="category" [(ngModel)]="technology.category" placeholder="category" />
      <input id="ring" [(ngModel)]="technology.ring" placeholder="ring" />
      <input id="description" [(ngModel)]="technology.description" placeholder="description" />
      <input type="radio" id="published" [(ngModel)]="technology.published" placeholder="published" />
    </div>
  </div>
}

<button type="button" (click)="save()">save</button>
<button type="button" (click)="goBack()">go back</button>
</section>
