<dialog open>
  <article>
    <header>
      <button (click)="returnFromPublishModal()" aria-label="Close" rel="prev" ></button>
      <p>Publish activity: {{ technology.name }}</p>
    </header>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
      <div>
        <label for="ring-control">Ring</label>
        <select id="ring-control" formControlName="ring" class="form-control"
                [attr.aria-invalid]="submitted ? (registerForm.controls['ring'].errors ? 'true' : 'false') : null">
          <option *ngFor="let ring of ringValues | keyvalue" [value]="ring.value" [selected]="technology.ring === ring.value">{{ ring.value }}</option>
        </select>
        <small *ngIf="submitted && registerForm.controls['ring'].errors">
          <div *ngIf="registerForm.controls?.['ring']?.['errors']?.['required']">Ring is required</div>
        </small>
      </div>

      <div>
        <label for="ring-description-control">Ring description</label>
        <input id="ring-description-control" type="text" formControlName="ring_description" class="form-control"
               [attr.aria-invalid]="submitted ? (registerForm.controls['ring_description'].errors ? 'true' : 'false') : null"/>
        <small *ngIf="submitted && registerForm.controls['ring_description'].errors">
          <div *ngIf="registerForm.controls?.['ring_description']?.['errors']?.['required']">Ring description is required</div>
        </small>
      </div>
      <div>
        <button>Publish</button>
      </div>
    </form>
  </article>
</dialog>
